<%- include('partials/header') %>
<style>
    /* html, body {
        margin: 0;
        padding: 0; 
        height: 100%; 
        overflow: hidden;
    } */
    
    body {
        background-image: url('/images/buttonImage.webp'); 
        background-size: cover;
        /* background-repeat: no-repeat; */
        background-position: center; 
        margin: 0; /* Removes any potential default margins */
        height: 100vh;
    }
</style>

<div class="brand-name">
  <span><h1>All Poems</h1></span>
</div>

<div class="container">
    <div class="row">
        <% for(let i=0; i<poems.length; i++){%>
        <div class="col-12 col-lg-4 poemCardContainer" data-bs-toggle="modal" data-bs-target="#poemModal<%=i%>">
            <div  class="card poemCard text-center " style="width: 23rem;">
                <!-- <img src="/images/scroll.png" class="card-img-top" alt="..."> -->
                <div class="card-body p-5">
                  <h4 class="card-title"><%=poems[i].title%></h4>
                  <p class="card-text"><%=poems[i].content.substring(0, 50)%>...</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>

        <div class="modal fade" id="poemModal<%=i%>" tabindex="-1" aria-labelledby="poemModalLabel<%=i%>" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content poemModal poetry-text">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="poemModalLabel<%=i%>"><%=poems[i].title%></h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <%=poems[i].content%>
                </div>
                <div class="modal-footer">
                    <p class="modal-title mb-1"><strong>Author:</strong> <%= poems[i].author %></p>
                    <p class="modal-title mb-0"> 
                        <% 
                          const createdAt = new Date(poems[i].created_at);
                          const options = { day: 'numeric', month: 'long', year: 'numeric' };
                          const formattedDate = createdAt.toLocaleDateString('en-GB', options);
                        %>
                        <%= formattedDate %>
                      </p>
                  <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                </div>
              </div>
            </div>
          </div>
        <%}%>
    </div>
    


</div>

<%- include('partials/footer') %>


<!-- <div class="col-12 col-lg-4 poemCardContainer">
            <a href="#" class="card poemCard text-center " style="width: 18rem;">
                <img src="/images/scroll.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  
                </div>
            </a>
        </div> -->