<%- include('partials/header') %>

<style>
    /* html, body {
        margin: 0;
        padding: 0; 
        height: 100%; 
        overflow: hidden;
    } */
    
    body {
        background-image: url('/images/home.jpg'); 
        background-size: cover;
        background-repeat:repeat;
        background-position: center; 
        margin: 0; /* Removes any potential default margins */
        height: 100vh;
    }
</style>


<div class="logo-container">
    <img src="/images/logo.jpeg" alt="Logo" />
</div>

<div class="container home-container">

    <%- include('components/navbar') %>

      <% for(let i=0; i<poems.length; i++){%>
      <div class="p-4 text-center">
        <h4 class="text-center">
            <a href="/poem/<%= poems[i].title %>-by-<%= poems[i].author %>/<%= poems[i].id %>" class="poemLink">
                <% 
                    const createdAt = new Date(poems[i].created_at);
                    const options = { day: 'numeric', month: 'long', year: 'numeric' };
                    const formattedDate = createdAt.toLocaleDateString('en-GB', options);
                %>
                <%= formattedDate %>
            </a>
            <div class="row">
                <div class="col-4">
                    
                </div>
                <div class="col-4">
                    <hr class="text-center">
                </div>
                <div class="col-4">
                    
                </div>
            </div>
        </h4>
        <p style="font-size: small; padding-left: 150px;">"<%=poems[i].title%>" by <%=poems[i].author%></p>
      </div>

      <div class="container poem-body">
        <p><%=poems[i].author%></p>
        <h3><%=poems[i].title%></h3>
        <p><%=poems[i].content%></p>
      </div>
      <%}%>
</div>

<script>
    // Navbar animation on scroll
    const navbar = document.querySelector('.navbar');
    const logo = document.querySelector(".logo-container");
    const homeContainer = document.querySelector(".home-container")

    window.addEventListener('scroll', () => {
        if (window.scrollY > 0) {
            logo.classList.add('invisible')
            navbar.classList.add('fixed-top');
            homeContainer.classList.add('add-top-margin');

        } else {
            logo.classList.remove('invisible')
            navbar.classList.remove('fixed-top');
            homeContainer.classList.remove('add-top-margin');
        }
    });
</script>

<%- include('partials/footer') %>